<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <img src="http://www.clipartlord.com/wp-content/uploads/2014/04/bunny-face.png" class="logo" height="100rem" width="100rem" />
      <h1 class="title">Habbit<br> Rabbit</h1>
    </div>
    <div class="col-md-12 text-center subtitle">
      <h2 class="subtitleText">Create a new habit below!</h2>
    </div>
  </div>

  <div class="col-md-3 sidebar">
    <div class="row">
      <div class="col-md-10 text-center">
        <div class="row sidebarTitle">
          <h3>Habits</h3>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="habitsListTitle">
              {{#habits}}
                <li class="row habitsList">
                  <div class="habitsListItems pull-left">{{this.habits}}</div>
                  <div class="btn btn-info pull-right">+ Did Today</div>
                </li>
              {{/habits}}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-lg btn-success">+ Add a Habit</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
              <a href="/users/{{userid}}"><div class="btn-lg btn-primary">View Habits</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-md-9 userData">
      <div class="row">
        <div class="col-md-12 spacer">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form class="" action="/users/habits/create/{{userid}}" method="post">
            <input type="text" class="input-lg col-lg-8" name="habitname" placeholder="Enter a habit... (e.g. coding, running, cooking)"></input>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <input type="text" class="input-lg col-lg-8" name="habitdescription" placeholder="Enter a description..."></input>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <h4>I want to practice my habit...</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="radio">
              <input type="radio" name="habitfrequency" value=1>once</input>
              <input type="radio" name="habitfrequency" value=2>twice</input>
              <input type="radio" name="habitfrequency" value=3>thrice</input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>...each...</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="radio" role="group" aria-label="...">
              <input type="radio" name="habitperiod" value=24>day</button>
              <input type="radio" name="habitperiod" value=168>week</button>
              <input type="radio" name="habitperiod" value=720>month</button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Track my habit for...</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="radio" role="group" aria-label="...">
              <input type="radio" name="duration" value=168>1 week</button>
              <input type="radio" name="duration" value=720>1 month</button>
              <input type="radio" name="duration" value=2160>3 months</button>
              <input type="radio" name="duration" value=4320>6 months</button>
              <input type="radio" name="duration" value=6480>9 months</button>
              <input type="radio" name="duration" value=8760>1 year</button>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <h4>Send me reminders via...</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1">
            <div class="radio" role="group" aria-label="...">
              <input type="radio" name="notification" class="radioButton inline-block" value='text'>Text</button>
            </div>
          </div>
          <div class="col-md-1">
            <div class="radio" role="group" aria-label="...">
              <input type="radio" name="notification" class="radioButton" value='email'>Email</button>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-12">
            <h4>Remind me...</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="radio">
              <input type="radio" name="reminderfrequency" value=1>once</input>
              <input type="radio" name="reminderfrequency" value=2>twice</input>
              <input type="radio" name="reminderfrequency" value=3>thrice</input>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>...each...</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="radio" role="group" aria-label="...">
              <input type="radio" name="reminderperiod" value=24>day</button>
              <input type="radio" name="reminderperiod" value=168>week</button>
              <input type="radio" name="reminderperiod" value=720>month</button>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <div class="btn-group btn-group-lg submit" role="group" aria-label="...">
              <button type="submit" class="btn btn-default" value="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
