<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12 text-center">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>
        Ugh mustache truffaut quinoa shabby chic, tacos twee semiotics health goth pabst 8-bit. Fixie leggings messenger bag gastropub listicle. XOXO post-ironic leggings YOLO ethical helvetica, offal beard synth authentic gentrify wolf kinfolk neutra farm-to-table.
      </p>
    </div>
  </div>

  <div class="row successMessage">
    <div class="col-md-12">
      <div class="text-center">
        <h3>Success</h3>
        <p>
          You've successfully joined Habbit Rabbit! Sign in below to start habbiting!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="button text-center" id="signinBtn">
        <input type="button" name="signin" value="Sign In">
      </div>
    </div>
  </div>

    <div class="row signin">
      <div class="col-md-3 buffer">

      </div>
      <div class="col-md-6">
        <form class="signin" action="routes/index.js" method="post">
          <div class="form-group has-feedback">
            <label class="control-label" for="username">Username</label>
            <input type="text" class="form-control" id="username">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="password">Password</label>
            <input type="text" class="form-control" id="password">
          </div>
        </form>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="button text-center" id="signupBtn">
        <input type="button" name="signup" value="Sign Up">
      </div>
    </div>
  </div>

  <div class="row signup">
    <div class="col-md-3 buffer">

    </div>
    <div class="col-md-6">
      <!-- action should be: "routes/index.js", method should be: "post", and submit button type should be: 'submit'-->
      <form class="signup" action="" method="">
        <div class="form-group has-feedback">
          <label class="control-label" for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group has-feedback">
          <label class="control-label" for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group has-feedback">
          <label class="control-label" for="userEmail">Email Address</label>
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="text" class="form-control" id="userEmail">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="phoneNum">Phone Number</label>
            <input type="text" class="form-control" id="phoneNum">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="newUsername">Username</label>
            <input type="text" class="form-control" id="newUsername">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="newPassword">Password</label>
            <input type="text" class="form-control" id="newPassword">
          </div>
          <div class="form-group has-feedback">
            <label class="control-label" for="confNewPassword">Confirm Password</label>
            <input type="text" class="form-control" id="confNewPassword">
          </div>
          <div class="button text-center" id="submit">
            <input type="button" name="submit" value="Create Account">
          </div>
        </div>
      </form>
    </div>
  </div>



</div>
