<div class="container">
  <div class="row header">
    <div class="col-md-12 text-center">
      <h1>Hello Rabbit!</h1>
    </div>
    <div class="col-md-12 text-center subtitle">
      <h2 class="subtitleText">Nice Work! You're on a
        {{#each streak}}{{this}}{{/each}} day
        {{#each streakHabit}}{{this}}{{/each}} streak!</h2>
    </div>
  </div>

  <div class="col-md-3 sidebar">
    <div class="row">
      <div class="col-md-10 text-center">
        <div class="row sidebarTitle">
          <h3>Habits</h3>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="habitsListTitle">
              {{#each habits}}
                <li class="row habitsList">
                  <div class="habitsListItems pull-left">{{this}}</div>
                  <div class="btn btn-info pull-right">+ Log Habit</div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-lg btn-success">+ Add a Habit</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 showcase">
    <div class="row">
      <h3>Your Progress</h3>
    </div>
    <div class="row showcaseInfo">
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60%
        </div>
      </div>
    </div>
  </div>

</div>
