<div class="container">
  <div class="row header">
    <div class="col-md-12">
      <img src="http://www.clipartlord.com/wp-content/uploads/2014/04/bunny-face.png" class="logo" height="100rem" width="100rem" />
      <h1 class="title">Habbit
        <br> Rabbit</h1>
    </div>
    <div class="col-md-12 text-center subtitle">
      <h2 class="subtitleText">Nice Work!
    </div>
  </div>

  <div class="col-md-12 showcase">
    <!-- everything below here until next comment can be replaced -->
    <div class="row">
      <h3>Welcome To habit rabbit {{username}} </h3>
      <p>
        Better hop to it and add some habits!
      </p>
        <a href="/"><div class="btn-lg btn-success">
        Sign In</div></a>
    </div>
    <div class="row">
      <div class="col-md-10">
      </div>
    </div>
    <!-- everything above here until next comment can be replaced -->
  </div>

</div>
