<div class="container-fluid">
  <div class="row header">
    <div class="col-md-12 text-center">
      <h1>Habbit Rabbit</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 list-group">
      <a href="#" class="list-group-item">Cras justo odio</a>
      <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item">Morbi leo risus</a>
      <a href="#" class="list-group-item">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
    <div class="col-md-9 userData">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 35%">
          <span class="sr-only">35% Complete (success)</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: 10%">
          <span class="sr-only">10% Complete (danger)</span>
        </div>
        <div class="progress-bar progress-bar-success" style="width: 35%">
          <span class="sr-only">45% Complete (success)</span>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
