<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>{{title}}</h1>
      <p>Welcome to {{title}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p>
        Ugh mustache truffaut quinoa shabby chic, tacos twee semiotics health goth pabst 8-bit. Fixie leggings messenger bag gastropub listicle. XOXO post-ironic leggings YOLO ethical helvetica, offal beard synth authentic gentrify wolf kinfolk neutra farm-to-table.
      </p>
    </div>
  </div>
</div>
