body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.signin {
  display: none;
}

.signup {
  display: none;
}

.button {
  margin-top: 2em;
}
